* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.client1 {
  padding: 15px;
  grid-area: client1;
  background-color: lightgray;
  margin-left: 15px;
}
.client2 {
  padding: 15px;
  grid-area: client2;
  background-color: lightgray;
  margin-right: 15px;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-areas: "client1 client2";
  height: 85%;
}

.clientMessages {
  overflow-y: auto;
  margin-bottom: 18px;
}
.clientMessages::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .client1 {
    margin-right: 15px;
  }
  .client2 {
    margin-left: 15px;
  }
  .grid-container {
    grid-gap: 15px;
    grid-template-areas: "client1" "client2";
  }
}
a:hover {
  color: grey;
}

.context-menu {
  position: absolute;
  text-align: center;
  background: lightgray;
  border: 1px solid black;
}
